.talent-header {
  font-family: Elden Ring;
  font-weight: 600;
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  text-align: center;
}

.ame {
  text-shadow: 0 0 5px #ffefcc, 0 0 5px #ffff00;
}

.calli {
  text-shadow: 0 0 5px #bf547b, 0 0 5px #ff0000;
}

.gura {
  text-shadow: 0 0 5px #5abeff, 0 0 5px #add8e6;
}

.irys {
  text-shadow: 0 0 5px #69035a, 0 0 5px #ff00ff;
}

.ina {
  text-shadow: 0 0 5px #54396d, 0 0 5px #9400d3;
}

.kronii {
  text-shadow: 0 0 5px #243a9e, 0 0 5px #0000ff;
}

.bijou {
  text-shadow: 0 0 5px #54396d, 0 0 5px #6a57ba;
}

.custom-select {
  position: relative;
  width: 200px;
}

.select-trigger {
  background-color: #2a2a2a;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.select-trigger.open .arrow {
  transform: rotate(180deg);
}

.arrow {
  margin-left: 10px;
  transition: transform 0.3s;
}

.options {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #2a2a2a;
  border-radius: 4px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
}

.options li {
  padding: 10px;
  color: white;
  cursor: pointer;
}

.options li:hover {
  background-color: #444;
}

.open .options {
  max-height: 200px; /* Adjust based on the number of options */
}
